h1 {
    font-family: 'TrendSansFour', 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: #444444;
    letter-spacing: 0px;
    text-align: center;
    margin: 1em 0 0.5em;

    span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 2px;
        display: inline-block;
        vertical-align: middle;
    }
}

p.tagline {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 5.5rem 0;
    padding: 0;
    letter-spacing: 2px;
}

div.post {
    margin-bottom: 4rem;
    padding: 0 8rem;

    h3 {
        margin: 0;
        text-transform: uppercase;

        a {
            span.number {
                display: inline-block;
                color: #dc143c;
                margin-right: 0.75em;
            }
        }
    }

    div.tags {
        margin: 0.25em 0 0 0;
    }
}




/*
    Phones/Small Handheld Devices
 */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    h1 {
        margin-bottom: 0.75em;

        span {
            vertical-align: 8px;
        }
    }

    p.tagline {
        font-size: 1.75rem;
        line-height: 2.75rem;
    }

    div.post {
        margin-bottom: 6rem;
        width: 100%;
        padding: 0 4rem;

        h3 {
            font-size: 3rem;

            a {
                span.number {
                    display: inline-block;
                    width: auto;
                    text-align: left;
                    color: #dc143c;
                    margin-right: 0;
                }
            }
        }
    }
}

/*
    Tablets - Portrait
 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        span {
            vertical-align: 10px;
        }
    }

    p.tagline {
        font-size: 1.25rem;
    }

    div.post {
        h3 {
            a {
                span.number {}
            }
        }
    }
}
