width: 984px;
margin: 0 auto;
padding: 0;

div#header {
    text-align: center;

    a {
        text-decoration: none;
        outline: none;

        span#title {
            display: inline-block;
            font-family: 'TrendSansFour', 'Montserrat', sans-serif;
            font-size: 2.75rem;
            font-weight: 400;
            color: #333333;
            letter-spacing: 0px;
            text-align: center;
            margin: 0.25em 0 0.5em;
            text-transform: uppercase;

            span {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 1.375rem;
                letter-spacing: 2px;
                display: inline-block;
                vertical-align: 6px;
            }
        }
    }

    p.tagline {
        font-family: "Lato", sans-serif;
        font-size: 0.75rem;
        color: #222222;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 3rem 0;
        padding: 0;
        letter-spacing: 2px;
    }
}

article {
    h1 {
        margin-top: 2em;

        span.number {
            display: inline-block;
            width: 85px;
            color: #dc143c;
            margin-left: -115px;
            margin-right: 0.5em;
            text-align: right;
        }
    }

    p {
        text-align: justify;
    }

    div.image-wrapper {
        width: 100%;

        img {
            width: 100%;
        }

        a {
            img {
                cursor: zoom-in;
            }

            span.image-caption {
                cursor: zoom-in;
            }
        }
    }

    div.gallery {
        width: 100%;

        div.image-wrapper {
            position: relative;
            width: 48.5%;
            display: inline-block;
            margin-right: 2%;
            margin-bottom: 1.25em;

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            span.image-caption {
                display: block;
                position: absolute;
                bottom: 0.2em;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 0.5em 0.75em;
                font-size: 0.875rem;
                color: white;
                background-color: rgba(0, 0, 0, 0.75);
                line-height: 1.4;

                &.light {
                    color: #222222;
                    background-color: rgba(255, 255, 255, 0.75);
                }
            }
        }
    }
}
