width: 100%;
min-width: 1023px;
margin: 0 auto;
padding: 0;

div#header {
    text-align: center;

    a {
        text-decoration: none;
        outline: none;

        span#title {
            display: inline-block;
            font-family: 'TrendSansFour', 'Montserrat', sans-serif;
            font-size: 2.75rem;
            font-weight: 400;
            color: #333333;
            letter-spacing: 0px;
            text-align: center;
            margin: 0.75em 0 0.5em;
            text-transform: uppercase;

            span {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 1.375rem;
                letter-spacing: 2px;
                display: inline-block;
                vertical-align: 6px;
            }
        }
    }

    p.tagline {
        font-family: "Lato", sans-serif;
        font-size: 0.75rem;
        color: #222222;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 3rem 0;
        padding: 0;
        letter-spacing: 2px;
    }
}

article {
    padding: 0 3rem;

    h1 {
        margin-top: 2em;

        span.number {
            display: inline-block;
            color: #dc143c;
            margin-right: 0.75em;
            text-align: left;
        }
    }

    h2, h3 {
        margin-top: 3em;
    }

    p {
        text-align: justify;
    }
}


/*
    Phones/Small Handheld Devices
 */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    div#header {
        a {
            span#title {
                span {}
            }
        }

        p.tagline {
            font-size: 1.4em;
            line-height: 1.5em;
        }

        // &:after {
        //     display: block;
        //     font-size: 2rem;
        //     color: crimson;
        //     content: 'Phone';
        // }
    }

    article {
        padding: 0 3rem;

        h1 {
            text-align: left;

            span.number {
                display: block;
                text-align: center;
                width: auto;
                color: #dc143c;
                margin-left: 0;
                margin-right: 0;
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }

        p {
            font-size: 2rem;
            line-height: 3rem;
        }
    }
}

/*
    Tablets - Portrait
 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    div#header {
        a {
            span#title {
                span {}
            }
        }

        p.tagline {
            font-size: 0.9em;
        }

        // &:after {
        //     display: block;
        //     font-size: 2rem;
        //     color: crimson;
        //     content: 'Tablet - Portrait';
        // }
    }

    article {
        padding: 0 2rem;

        h1 {
            text-align: left;

            span.number {
                display: block;
                text-align: center;
                width: auto;
                color: #dc143c;
                margin-left: 0;
                margin-right: 0;
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }

        p {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    }
}

/*
    Large Desktops
 */
@media only screen and (min-width: 1200px) {
    article {
        padding: 0 12.5%;
    }
}
