@font-face {
    font-family: "TrendSansFour";
    src: url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot");
    src: url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff") format("woff"),
         url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.ttf") format("truetype"),
         url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.svg#TrendSansW00-Four") format("svg");
}

html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222222;
}

h1, h2, h3, h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #222222;
    line-height: 1.2;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    a {
        text-decoration: none;
        color: inherit;
    }
}

h1 {
    font-size: 2.441rem;
    margin-top: 0;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    margin: auto auto 1.5em;
    font-size: 1rem;
    line-height: 1.45;
}

a {
    &:hover {}

    &:active {}

    &:visited {}
}
