@font-face {
    font-family: "TrendSansFour";
    src: url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot");
    src: url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff") format("woff"),
         url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.ttf") format("truetype"),
         url("//db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.svg#TrendSansW00-Four") format("svg");
}

html {
    font-size: 16px;
    color: #222222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    color: #222222;
    line-height: 1em;
    margin-top: 0;
    text-rendering: optimizeLegibility;

    a {
        text-decoration: none;
        color: inherit;
    }
}

h1 {
    font-size: 3.33333rem;
    margin-bottom: 0.495em;
    text-transform: uppercase;
}

h2 {
    font-size: 2.6667rem;
    margin-bottom: 0.61875em;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.825em;
}

h4 {
    font-size: 1.3334rem;
    margin-bottom: 1.2375em;
}

h5 {
    font-size: 1.16667rem;
    margin-bottom: 1.4142em;
}

h6 {
    font-size: 1rem;
    margin-bottom: 1.65em;
}

p {
    margin: auto auto 1.5em;
}

a {
    &:hover {}

    &:active {}

    &:visited {}
}
