@charset "UTF-8";

@import "../../../../node_modules/normalize.css/normalize";

@import "./mixins";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@import "./typography";
@import "./icons";
@import "./tags";
@import "./gallery";

body {
    width: 100%;
    min-width: 1023px;
    margin: 0 auto;
    padding: 0;

    &.home {
        @import "./pages/home";
    }

    &.post {
        @import "./pages/post";

        div.feedback {
            margin-top: 3rem;
        }
    }

    div.feedback {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        display: block;
        text-align: center;

        a {
            color: #DC143C;
            text-decoration: none;
            display: inline-block;
            border: 2px solid #DDD;
            padding: 0.5rem 1rem;

            div.icon {
                display: inline-block;
                margin-top: -2px;

                i {
                    font-size: 3rem;
                    margin-right: 1rem;
                    margin-left: 0.25rem;
                    vertical-align: 2px;
                }
            }

            div.text {
                display: inline-block;
                letter-spacing: 0.5px;
                text-align: left;

                span.blue {
                    color: #3D7CBC;
                }
            }
        }
    }

    footer {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        border-top: 2px solid #EEE;
        padding-top: 2rem;

        div.social {
            a {
                text-decoration: none;
                margin-right: 2rem;

                &:last-of-type {
                    margin-right: 0;
                }

                i {
                    font-size: 2rem;
                }
            }
        }

        div.curation {
            font-size: 0.875rem;

            i {
                font-size: 1.125rem;
                vertical-align: middle;

                &.icon-utah {
                    font-size: 1.375rem;
                    vertical-align: -0.33em;
                }
            }
        }

        div.poweredby {
            p {
                font-size: 0.625rem;
            }
        }
    }
}



/*
    Phones/Small Handheld Devices
 */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        div.feedback {
            font-size: 2rem;
            line-height: 2.5rem;

            a {
                padding: 1rem 2rem;
                border-width: 4px;

                div.icon {
                    i {
                        font-size: 5rem;
                    }
                }

                div.text {
                    span.blue {}
                }
            }
        }

        footer {
            div.social {
                a {
                    margin-left: 4rem;

                    &:first-of-type {
                        margin-left: 0;
                    }

                    i {
                        font-size: 5rem;
                    }
                }
            }

            div.curation {
                margin-top: 3rem;

                p {
                    font-size: 1.875rem;
                }

                i {
                    font-size: 2.125rem;
                    vertical-align: middle;

                    &.icon-utah {
                        font-size: 2.375rem;
                        vertical-align: -0.3em;
                    }
                }
            }

            div.poweredby {
                p {
                    font-size: 1.625rem;
                }
            }
        }
    }
}
