@charset "UTF-8";

@import "../../../../node_modules/normalize.css/normalize";

@import "./mixins";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@import "./typography";
@import "./icons";
@import "./tags";

body.home {
    @import "./pages/home";
}

body.post {
    @import "./pages/post";
}

footer {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;

    div.social {
        a {
            text-decoration: none;
            margin-right: 0.5rem;

            &:last-of-type {
                margin-right: 0;
            }

            i {
                font-size: 2rem;
            }
        }
    }

    div.curation {
        font-size: 0.875rem;

        i {
            font-size: 1.125rem;
            vertical-align: middle;

            &.icon-utah {
                font-size: 1.375rem;
                vertical-align: -0.33em;
            }
        }
    }

    div.poweredby {
        font-size: 0.625rem;
    }
}
