<article class="{{ .Type }}">
    <h1><span class="number">#{{ .Params.number }}</span> {{ .Title }}</h1>

    {{ .Content }}

    <h2>Tags</h2>

    <div class="tags">
        {{ range sort .Params.tags }}
        	<span class="tag">{{ . }}</span>
        {{ end }}
    </div>
</article>

<!--
    <section>
        <span>
            Share:
            <a href="http://twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="icon-twitter"><span>Share on Twitter</span></i>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="icon-facebook"><span>Share on Facebook</span></i>
            </a>
        </span>
    </section>
-->

<!--
    {{ partial "disqus.html" . }}
-->
