<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
    {{ partial "head.html" . }}

    <body class="home">
        <div>
            <h1><span>The</span> Nook &amp; Cranny <span>Digest</span></h1>

            <p class="tagline">{{ .Site.Params.description }}</p>
        </div>

        <div>
        	{{ range .Paginator.Pages }}
        		{{ .Render "li_home" }}
        	{{ end }}

        	<!-- {{ partial "pagination.html" . }} -->
        </div>

        {{ partial "footer.html" . }}

        {{ partial "google_analytics.html" . }}
    </body>
</html>
